@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}

body{
    flex-direction: column;
    height: 100vh;
    background-color: white;
    padding: 0 2rem;
    padding-top: .5rem;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header{
    position: relative;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo a img{
    width: 50px;
}

.logo a h1{
    font-size: 1.5rem;
    color: #BE3144;
}

.logo a h1 span{
    color: black;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .links li a{
    border-radius: 999px;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    transition: all .2s ease-in-out;

}

.navbar .links li a:hover{
    color: white;
    background-color: black;
}

.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.4 ease-in-out;
    font-weight: 500;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.05;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
}

main .main_text{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

main .main_image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

main .main_image img{
    width: 500px;
    height: auto;
}

main .main_text .main_title h1{
    color: #BE3144;
    font-size: 2.6rem;
}


main .main_text .main_button{
    background-color: black;
    border-radius: 999px;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    width: fit-content;
    transition: scale 1 ease-in-out;
    margin-top: 1rem;
}

main .main_text .main_button:hover{
    scale: 1.05;
}

main .main_text .main_button .main_arrow a{
    display: flex;
    align-items: center;
}

main .main_text .main_button .main_button_text a{
    font-weight: 500;
    color: white;
}

main .main_text .main_record{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

main .main_text .main_record .main_happy{
    border-left: 3px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
}

main .main_text .main_record .main_happy .numberstar{
    display: flex;
    align-items: center;
    gap: .3rem;
}

main .main_text .main_record .main_happy .numberstar p{
    font-weight: 600;
    color: black;
    font-size: 2rem;
}

main .main_text .main_record .main_happy .numberstar img{
    width: 1.2rem;
}

.section_aboutus{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section_aboutus .section_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.section_aboutus .section_text .section_text_title h1{
    color: #BE3144;
}

.section_aboutus .section_text .section_text_head{
    border: 2px solid black;
    border-radius: 999px;
    width: fit-content;
    padding: 0 .5rem;
}

.section_aboutus .section_text .section_text_head p{
    font-size: .8rem;
}

.section_aboutus .section_text .section_text_check{
    display: flex;
    gap: 3rem;
    margin-top: .5rem;

}

.section_aboutus .section_text .section_text_check .section_text_check_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7rem;
}

.section_aboutus .section_text .section_text_button{
    border-radius: 999px;
    background-color: black;
    width: fit-content;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
}

.section_aboutus .section_text .section_text_button a{
    color: white;
    font-weight: 500;
}

.section_aboutus .section_image{
    display: flex;
    flex: 1;
}

.section_aboutus .section_image img{
    width: 500px;
    height: auto;
}

.section_service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_service .service_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section_service .service_title .service_text_head{
    border: 2px solid black;
    border-radius: 999px;
    width: fit-content;
    padding: 0 .5rem;
}

.section_service .service_title .service_text_head p{
    font-size: .8rem;
}


.container.swiper{
    max-width: 1120px;
    width: 100%;
    padding: 40px 10px;
    margin-bottom: 55px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slide-container{
    margin: 0 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    
}

.card{
    background-color: rgb(248, 246, 246) !important;
    border-radius: 8px;
    box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.3);
}

.swiper-slide{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card .image-box{
    height: 200px;
    width: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.card .image-box img{
    height: 100%;
    width: auto;
    border-radius: 8px 8px 0 0;
}

.card .profile-details{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.card .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-details .name{
    font-size: 15px;
    font-weight: 700;
    color: #BE3144;
}

.profile-details .job{
    display: flex;
    align-items: center;
}

.profile-details .job a{
    font-size: 12px;
    font-weight: 700;
    color: #4d4d4d;
    border-bottom: 2px solid black;
    width: fit-content;
    padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;   /* Lebar yang diinginkan */
    height: 30px !important;  /* Tinggi yang diinginkan */
    background-color: white;
    border-radius: 50%; 
    margin-top: 50px;
}

/* Atur warna panahnya */
.swiper-button-next::after,
.swiper-button-prev::after {
    width: 30px;   /* Lebar yang diinginkan */
    height: 30px;
    color: black;
    font-size: 18px !important;
    padding-left: 10px; 
    padding-top: 5px;
}

.section_partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 100px;
}

.section_partner .partner_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section_partner .partner_title .partner_text_head{
    border-radius: 999px;
    border: 2px solid black;
    padding: 0 .5rem;
}

.section_partner .partner_title .partner_text_head p{
    font-size: .8rem;
}

.section_partner .partner-logo{
    display: flex;
    flex-direction: column;
}

.section_partner .partner-logo .partner-logo1{
    display: flex;
}

.partner-logo .partner-logo1 .boxlogo{
    width:fit-content ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 3rem;
}

.section_partner .partner-logo img{
    width: 160px;
    height: auto;
}

.cisco,
.ebay,
.gojek,
.google{
    border-bottom: 2px solid lightgray;
}

.cisco,
.ebay,
.gojek{
    border-right: 2px solid lightgrey;
}

.intel,
.amazon,
.netflix{
    border-right: 2px solid lightgrey;
}

.section-contact .contact-main .contact-image img{
    width: 500px;
    height: auto;
}

.section-contact .contact-main{
    display: flex;
}

.section-contact .contact-main .contact-image{
    display: flex;
    flex: 1;
}

.section-contact .contact-main .contact-form{
    display: flex;
    flex: 1;
}

.section-contact .contact_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section-contact .contact_title .contact_text_head{
    border: 2px solid black;
    border-radius: 999px;
    padding: .0 .5rem;
}

.section-contact .contact_title .contact_text_head p{
    font-size: .8rem;
}

form{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-name{
    display: flex;
    gap: 1.5rem;
}

.form-name input{
    width: 300px;
    padding: .5rem 1.5rem;
    border: 2px solid lightgray;
}

.form-email{
    display: flex;
}

.form-email input{
    width: 100%;
    padding: .5rem 1.5rem;
    border:  2px solid lightgrey;
}

.form-message{
    display: flex;
}

.form-message textarea{
    width: 100%;
    height: 175px;
    padding: .5rem 1.5rem;
    border: 2px solid lightgrey;
    resize: none;
}

.form-submit{
    display: flex;
    justify-content: end;
}

.form-submit input{
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 999px;
    padding: .5rem 1.5rem;
    font-size: .9rem;
}

.footer-container{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    padding-bottom: 0;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
    gap: 3rem;
    box-shadow: 10px -5px 25px rgba(0, 0, 0, 0.3);
}


.footer-title{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-sec{
    display: flex;
    flex: 2;
}

.footer-title .footer-text{
    justify-content: center;
    align-items: center;
}


.footer-title .footer-image img{
    width: 170px;
    height: auto;
}

.footer-headline{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.footer-headline h1{
    font-size: 50px;
    color: #BE3144;
}

.footer-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-aside .footer-image-aside img{
    width: 170px;
    height: auto;
    margin-top: -180px;
}

.footer-aside .footer-button-aside a button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 999px;
    padding: .5rem 2.5rem;
    font-size: 1.3rem;
    margin-top: 30px;
}

.footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    padding: 0 1rem;
}

.footer-social .navfoot .links-footer{
    display: flex;
    gap: 3rem;
}

.footer-social .navfoot .links-footer li a{
    font-size: 13px;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.social-media .copyright p{
    font-size: 10px;
}

.social-media .media-icon{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.media-icon .linkedin img{
    width: 30px;
}

.media-icon .github img{
    width: 30px;
}

.media-icon .twitter img{
    width: 30px;
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 570px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}
